.list-group-item {
    /*padding-top: 5px;*/
}
.num_of_contacts_badge {
	margin-left: 10px;
}
/*
.li_group:hover {
    background-color: blue;
    color: white
}
*/
body {    
    /*
    font-size: 13px;
    line-height: 1.3;
    */
    }